div {
    border-width: thin;
    border-color: black;
    border-style: none;
    padding-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
}

.input100 {
    width: 100px;
    padding: 5px;
}

.input200 {
    width: 200px;
    padding: 5px;
}

input[type="radio"] {
    margin: 0 5px 0 5px;
}

input[type="checkbox"] {
    margin: 0 5px 0 5px;
}

.select100 {
    width:150px;
    padding: 5px;
    font-size: 14px;
}


table {
    width: 60%;
    border: 1px solid;
  }
  th, td {
    border: 1px solid;
  }
